/* narrow, centered column */
/* images, contained within column */
html {
    max-width: 70ch;

    margin-inline: auto;

    font-family: 'Times New Roman', 'Times New Roman', Times, serif;

    image-rendering: auto;

    image-orientation: from-image;

    

}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 25px;
}


body {
    background-color: white;
}

